
.fangzhen{
    position: absolute;
    right: 40px;
    bottom:31px;
    background-color:#80b0f9;
    background-image:url("../images/fangzhen.png");
    background-repeat: no-repeat;
    background-position: center;
}
#fangzhenCon{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background:rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
    display:none;
    z-index: 9;
}
#fangzhenFrame{

}
#implementCon{
    display:none;
}
#fangzhenFrame,#implementCon{
    width:736px;
    position:absolute;
    top:50%;
    left:50%;/*
    margin: -140px 0 0 -368px;*/
    border:1px solid #80b0f9;

}
#fangzhenFrame .header,#implementCon .header{
    height:40px;
    width:100%;
    line-height:40px;
    background:#5399e7;
}
#fangzhenFrame .header span{
    font-size:14px;
    color:#225096;
    padding:0 20px;
    cursor:pointer;
}
#fangzhenFrame .header span.selected{
    color:#fff;
}
.closeBtn{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    cursor:pointer;
    display:inline-block;
    width:20px;
    height:20px;
    background:url("../images/close_bai.png") no-repeat center;

}
.fangzhenBody{
    padding:20px;
    background:#fff;
    display:none;
}
.downLoadTemplateBody{
    padding:20px;
    background:#fff;
    display:none;
}
.tagBodySelected{
    display:block;
}
.checkedCon{
    overflow:hidden;
}
.checkedCon input{
    display:none;
}
/*.checkedCon label{*/
/*    !*background-color 		: #c0bffb;*!*/
/*    width:15px;*/
/*    height:15px;*/
/*    z-index : 10;*/
/*    border: 1px solid #ccc;*/

/*    !*以下下是要添加的PIE.htc代码*!*/
/*    position:relative; !*一定要加，否则不显示。注意：父类也要添加相同属性，否则会错位，下面会详细介绍*!*/
/*    border-radius: 4px; !*这个不能删，虽然IE8不支持这个属性，但是PIE.htc会用到*!*/
/*    -webkit-border-radius: 4px; !*以下这两个是PIE.htc设置圆角的属性*!*/
/*    -moz-border-radius: 4px;*/
/*    behavior: url('../css/pie.htc'); !*路径要写绝对路径*!*/
/*    display:inline-block;*/
/*}*/


.checkedCon label{
    display:inline-block;
    width:15px;
    height:15px;
    border:1px solid #ccc;
    border-radius:4px;
}


.checkedCon label.selected{
    background:url("../images/xuanze.png") no-repeat center;
}
.checkedCon p{
    float:left;
    margin-right:32px;
}
.checkedCon p:last-of-type{
    margin-right:0;
}
.checkedCon p span{
    position: relative;
    top: -2px;
    color: #666;
    font-size: 12px;
}
.getData{
    border-right:1px solid #225096;
}
.getFangZhenData>.title,.downLoadTemplate>.title{
    margin-top:6px;
    height: 21px;
}
.downLoadTemplate #downLoadImg{
    display:inline-block;
    width:21px;
    height:21px;
    background:url("../images/xiazai.png") no-repeat center;
    float:left;
}
.getFangZhenData>.title>span,.downLoadTemplate>.title>span{
    position:relative;
    top:3px;
    color: #666;
    font-size: 12px;
    margin-right:5px;

}
.table-check{
	cursor: pointer;
}

#condition,#downLoadForm{
    padding:15px 0;
}
#downLoadForm>span{
    color: #666;
    font-size: 13px;
    margin-right:5px;
    float:left;
    line-height:30px;
}
.half{
    width:49.7%;
    display:inline-block;
    height:32px;
}
.fangzhenBody  .layui-form-label{
    color:#517bba;
    background-color:#e7f1ff;
    position:relative;
    width:110px;
    text-align:left;
    height:32px;
    line-height:32px;
    padding:0;
    font-size:12px;
    padding-left: 5px;
}
.fangzhenBody .layui-input-block{
    width:239px;
    border-left: none;
}
.borderNone{
    border-right: none!important;
}
.fangzhenBody .layui-form-label:after {
    margin: -12px 0 0 -6px;
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #e7f1ff;
    z-index: 1;
}

.fangzhenBody .layui-select-title{
    height:32px;
    border:1px solid #ccc;
    padding:2px 10px 0 10px;
}
.fangzhenBody .layui-form-select dl dd.layui-this{
    background:#80b0f9;
}
#startTimecIcon,#endTimeIcon{
    width:21px;
    height:21px;
    position:absolute;
    top:50%;
    left:5px;
    margin:-10px 0 0 0;

}
#startTimecIcon,#endTimeIcon{
    background-image:url("../images/shijian.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.timeCon{
    height:32px!important;
    min-height:32px!important;
    border:1px solid #ccc;
    padding:2px 10px 0 30px;
}
.fangzhenBody  .endTimeCon{
    width:587.5px;
}
#startTime,.endTimeCon input{
    height:25px;
    color: #555;
    font-size: 12px;
}
#endTime{
    width:546px;
}
.layui-form-select input{
    height:25px;
    color:#555;
    font-size:12px;
}
.layui-form-select .layui-edge{
    right:20px;
}

.fangzhenBody button,.downLoadTemplateBody button{
    float:right;
    margin-left:20px;
    width:100px;
    height:30px;
    line-height:6px;
    border:1px solid #80b0f9;
    color:#80b0f9;
    background:#fff;
    border-radius:4px;
}
.fangzhenBody button:hover,.downLoadTemplateBody button:hover{
    background:#80b0f9;
    color:#fff;
}
#progressBar {
    line-height: 8px;
    display:none;
}

#progressBar1{
    padding: 0 20px 40px 20px;
}
#barOuter,#barOuter1{
    background: #efefef;
    float: right;
    height: 10px;
    display: inline-block;
    width: 625px;
    border-radius:5px;
    position:relative;
    top:-15px;
}
#barOuter1{
    width: 100%;
}
.barInter{
   /* position:relative; !*一定要加，否则不显示。注意：父类也要添加相同属性，否则会错位，下面会详细介绍*!
    border-radius: 5px; !*这个不能删，虽然IE8不支持这个属性，但是PIE.htc会用到*!
    -webkit-border-radius: 5px; !*以下这两个是PIE.htc设置圆角的属性*!
    -moz-border-radius: 5px;
    behavior: url('../css/pie.htc'); !*路径要写绝对路径*!
    display:inline-block;*/

    position:absolute;
    left:0;
    top:0;
    height:10px;
    border-radius:5px;
    background:linear-gradient(to right,#9d62ff, #5eaaff);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d62ff', endColorstr='#5eaaff',GradientType=1 );


}
.rate{
    font-size: 12px;
    color:#666;
    background: #eee;
    position: absolute;
    right: -27px;
    top: 15px;
    width: 43px;
    text-align: center;
    border-radius: 4px;
    height: 27px;
    line-height: 27px;
}
.rate:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #eee;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    right: 50%;
    top: -11px;

}
#tipCon1{
    display:none;
}
/*下载数据模板*/
#fileName{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 533px;
    height: 30px;
    padding-left: 10px;
    line-height:30px;
    font-size: 12px;
    color: #555;
    float:left;
}
#chooseFile+label{
    height: 30px;
    padding: 0 24px;
    background: #5399e7;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    display: inline-block;
    border-radius: 4px;
}
#tipCon{
    display:none;
}

.tipContent{
    font-size:12px;
    color:#666;
}

/*仿真执行*/
#implementCon{
    background: #fff;
    /*display: table-cell;*/
    text-align: center;
    vertical-align: middle;
}
.implement{
    display:none;
}
#fangzhenFlow{
    padding:20px 20px 0 20px;
    text-align: center;
    display:inline-block;
}
#fangzhenFlow p{
    float:left;
    margin-right:66px;
}
#fangzhenFlow p img{
    width: 124px;
    height: 94px;
}
#fangzhenFlow span{
    white-space:nowrap;
    font-size:12px;
    text-align:center;
    display:inline-block;
}
#fangzhenFlow .title{
    color:#97aeff;
    text-align:center;
    margin:15px 0;
}
#fangzhenFlow .progress {
    background:#b5b5b5;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    width:90px;
    height:26px;
    text-align:center;
    line-height:26px;
    color:#fff;
}

#fangzhenFlow .doing {
    background:#b5b5b5;
}
#fangzhenFlow .finish{
    background: #8149ff;
}
.lastType{
    margin-right:0!important;
}
.progress-in{
    position:relative;
    overflow: visible!important;
}

/*下拉框*/
.selectParent{
    position:relative;
}
.selectParent{
    height: 32px!important;
    min-height: 32px!important;
    border: 1px solid #ccc;
    padding: 2px 10px 0 10px;
}
#cityCon,#typeCon,#secondCon{
    height:25px;
    color:#555;
    font-size:12px;
}
.list{
    display:none;
    max-height:120px;
    overflow:hidden;
}
.cityList,.typeList,.secondList{
    position:absolute;
    top:30px;
    left: 0px;
    right: 0;
    background: #fff;
    z-index: 10;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.cityList>li,.typeList>li,.secondList>li{
    height:30px;
    line-height:30px;
    padding-left:10px;
    color:#555;
    font-size:12px;
}
.cityList>li:hover,.typeList>li:hover,.secondList>li:hover{
    background:#80b0f9;
    color:#fff;
}
.cityList>li.selected,.typeList>li.selected,.secondList>li.selected{
    background:#80b0f9;
    color:#fff;
}
.noSelected,.noSelectTime{
    background:#eee;
}
.layui-input-block input{
    line-height:25px;
}

.layui-input-block:after{
    margin: -12px 0 0 -6px;
    content: '';
    position: absolute;
    top: 24px;
    right: 20px;
    width: 0;
    height: 0;
    border-top: 6px solid #bbb;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    z-index: 1;
}