<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>详情页面</title>
    <link rel="stylesheet" href="../../css/common/layui.css"></link>
    <link rel="stylesheet" href="../../css/common/EomsProvisionForm.css"></link>
    <link rel="stylesheet" type="text/css" href="../../css/details.css"></link>

</head>
<body>
  <div id="details">
      <div id="formCon">
          <div class="header">工单详情查看</div>
          <div  id="formList"></div>
      </div>
      <div id="myTableCon">
          <div class="header">质检监测项</div>
          <div  id="myTable" class="clearfix">
              <header  style="display:none"></header>
              <div id="tableList"></div>
             <p id="resultCon">
                  <span>结果:</span>
                  <span id="result">合格</span>
              </p>
          </div>
      </div>
  </div>


    <script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../js/EomsProvisionForm.js"></script>
    <script src="../../js/public/layui.all.js"></script>
    <script src="../../js/details.js"></script>
</body>
</html>